* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: peachpuff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    position: relative;
    top: -20px;
}

body .box {
    height: 50%;
    width: 50%;
    padding: 45px;
    background-color: aquamarine;
    border: 3px solid black;
    border-radius: 20px ;
}
